<div class="row" id="searchRow">
    <div class="col-md-8">
        <input class="form-control input-lg" ng-model="search" id="search" ng-change="searchChange()" type="text" placeholder="search">
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary btn-lg" id="askButton" href="/Ask">Ask a new question</a>
    </div>
</div>

<div class="row yaqaap-fade" id="searchResultRow" ng-if="questions!=undefined">

    <hr />

    <div class="col-md-12">
        <div ng-repeat="question in questions">
            <div>{{question.Title}}</div>
        </div>
    </div>
</div>

<hr />