

<div ng-if="question == undefined" class="row">
    <div class="col-md-8">
        <div class="alert alert-info" role="alert">Loading...</div>
    </div>
</div>

<div ng-if="question != undefined" class="row">
    <div class="col-md-12">
        <h2>{{question.Title}}</h2>
        <hr />
    </div>
</div>

<div ng-if="question != undefined" class="row">
    <div class="col-md-1">
        <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-default btn-lg" style="border: none">
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-lg" style="border: none">
                <span>0</span>
            </button>
            <button type="button" class="btn btn-default btn-lg" style="border: none">
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-lg" style="border: none">
                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="col-md-7">
        <div ng-bind-html="question.Detail">
        </div>
    </div>
</div>

<div ng-if="question != undefined" id="answsersRow" ng-repeat="answer in question.Answers">
    <div ng-if="question != undefined" class="row">
        <div class="col-sm-8">
            <hr />
        </div>
    </div>
    <div ng-if="question != undefined" class="row">
        <div class="col-md-1">
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-default btn-lg" style="border: none">
                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default  btn-lg" style="border: none">
                    <span>0</span>
                </button>
                <button type="button" class="btn btn-default btn-lg" style="border: none">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="col-md-7">
            {{answer.Content}}
        </div>
    </div>
</div>

<div ng-if="question != undefined" class="row">
    <div class="col-sm-8">
        <hr />
        <form>
            <h3><span class="glyphicon glyphicon glyphicon-console" aria-hidden="true"></span> Your Answer</h3>
            <div class="form-group">
                <textarea class="form-control" id="answer-content" ng-model="answerContent" rows="5" placeholder="enter your own answser here" ng-change="updateMarkdownPreview(answerContent)"></textarea>
                <div class="bs-callout bs-callout-info" ng-show="markdownPreview != ''">
                    <p ng-bind-html="markdownPreview"></p>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-lg" id="answerButton" type="submit" ng-click="answer()" ng-disable="!answering">Post your answer</button>
            </div>
            <div class="form-group">
                <div ng-if="answerResult == 'OK'" class="alert alert-success" role="alert">Well done, you just post a new answer!</div>
                <div ng-if="answerResult == 'NeedContent'" class="alert alert-warning" role="alert">Please, give us a little more content.</div>
            </div>
        </form>
    </div>
</div>
