

<div ng-if="question == undefined" class="row">
    <div class="col-md-8">
        <div class="alert alert-info" role="alert">Loading...</div>
    </div>
</div>

<div ng-if="question != undefined" class="row">
    <div class="col-md-12">
        <h2>{{question.Title}}</h2>
        <hr />
    </div>
</div>

<div ng-if="question != undefined" class="row">
    <div class="col-md-1">
        <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-default btn-lg" ng-click="vote(question.Id, question.Owner.Id, 'question', 'up')" style="border: none">
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-lg" style="border: none">
                <span ng-bind="question.Votes"></span>
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-click="vote(question.Id, question.Owner.Id, 'question', 'down')" style="border: none">
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-lg" style="border: none">
                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="col-md-7">
        <div ng-bind-html="question.Detail">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="footer">
                    <div class="footer-content">
                        <span ng-repeat="tag in question.Tags">
                            <button type="button" class="btn btn-info">{{tag}}</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer">
                    <div class="footer-content-right">
                        <p><small><a href="/User/{{question.Owner.Username}}">{{question.Owner.Username}}</a></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="question != undefined" id="answsersRow" ng-repeat="answer in question.Answers">
    <div class="row">
        <div class="col-sm-8">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-default btn-lg" ng-click="vote(question.Id, answer.Owner.Id, 'answer', 'up')" style="border: none">
                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default  btn-lg" style="border: none">
                    <span ng-bind="answer.Votes"></span>
                </button>
                <button type="button" class="btn btn-default btn-lg" ng-click="vote(question.Id, answer.Owner.Id, 'answer', 'down')" style="border: none">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="col-md-7">
            <div ng-bind-html="answer.Content"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="footer">
                        <div class="footer-content-right">
                            <p>
                                <small><a href="/User/{{answer.Owner.Username}}">{{answer.Owner.Username}}</a></small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="question != undefined" class="row">
    <div class="col-sm-8">
        <hr />
        <form>
            <h3><span class="glyphicon glyphicon glyphicon-console" aria-hidden="true"></span> Your Answer</h3>
            <div class="form-group">
                <textarea class="form-control" id="answer-content" ng-model="answerContent" rows="5" placeholder="enter your own answser here" ng-change="updateMarkdownPreview(answerContent)"></textarea>
                <div class="bs-callout bs-callout-info" ng-show="markdownPreview != ''">
                    <p ng-bind-html="markdownPreview"></p>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-lg" id="answerButton" type="submit" ng-click="answer()" ng-disable="!answering">Post your answer</button>
            </div>
            <div class="form-group">
                <div ng-if="answerResult == 'OK'" class="alert alert-success" role="alert">Well done, you just post a new answer!</div>
                <div ng-if="answerResult == 'NeedContent'" class="alert alert-warning" role="alert">Please, give us a little more content.</div>
            </div>
        </form>
    </div>
</div>


<script>

    $("#answer-content").markdown({
        resize: 'vertical',
        hiddenButtons: ['Preview']
    });

</script>