<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <input class="form-control input-lg" ng-model="username" id="username" type="text" placeholder="username or email">
            </div>
            <div class="form-group">
                <input class="form-control input-lg" ng-model="password" id="password" type="password" placeholder="password">
            </div>
            <div class="form-group">
                <a class="btn btn-primary btn-lg" id="signIn" ng-click="signin()" ng-disable="!signing">Sign in</a>
            </div>
        </form>
    </div>
</div>
