/* Title */

@font-face {
    font-family: 'Yaqaap';
    src: url('../fonts/Tangerine_Bold.ttf');
}

.navbar-brand {
    font-family: Yaqaap;
    font-size: 240%;
}

.navbar {
    background-color: rgb(0, 140, 200);
    border-style: none;
    -ms-border-radius: 0;
    border-radius: 0;
    border-bottom-color: rgb(0, 160, 255);
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: white;
    background-color: black;
    background-image: linear-gradient(rgb(8, 8, 8) 0px, rgb(15, 15, 15) 100%);
}

.navbar-inverse .navbar-brand {
    color: white;
}

.container h1 {
    font-family: Yaqaap;
    font-size: 500%;
}


.navbar {
    background-image: url("Pictures/bg-insider-banner.gif");
    background-repeat: repeat;
    -webkit-animation: animate 30s linear 0s normal none infinite;
    -moz-animation: animate 30s linear 0s normal none infinite;
    -ms-animation: animate 30s linear 0s normal none infinite;
    -o-animation: animate 30s linear 0s normal none infinite;
    animation: animate 30s linear 0s normal none infinite;
}

@-webkit-keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px -500px;
    }
}

@keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px -500px;
    }
}

/* Buttons */

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

/*callouts*/

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

    .bs-callout h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .bs-callout p:last-child {
        margin-bottom: 0;
    }

    .bs-callout code {
        -ms-border-radius: 3px;
        border-radius: 3px;
    }

    .bs-callout + .bs-callout {
        margin-top: -5px;
    }

.bs-callout-danger {
    border-left-color: #ce4844;
}

    .bs-callout-danger h4 {
        color: #ce4844;
    }

.bs-callout-warning {
    border-left-color: #aa6708;
}

    .bs-callout-warning h4 {
        color: #aa6708;
    }

.bs-callout-info {
    border-left-color: #1b809e;
}

    .bs-callout-info h4 {
        color: #1b809e;
    }



/*tags*/

.tag {
    font-size: 100%;
}

.bootstrap-tagsinput:focus {
    border-color: #66afe9;
}

/*md-editor*/

.md-editor textarea {
    padding: 0 6px;
    background: white;
    font-size: 18px;
    line-height: 1.3333333;
    border: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.md-editor {
    border-radius: 6px;
}



/* Fades */

/* The starting CSS styles for the enter animation */
.yaqaap-fade.ng-enter {
    transition: 0.4s linear all;
    opacity: 0;
}

    /* The finishing CSS styles for the enter animation */
    .yaqaap-fade.ng-enter.ng-enter-active {
        opacity: 1;
    }



.btn-default {
    background: transparent;
}


.top-buffer {
    margin-top: 50px;
}


.footer {
    position: relative;
    min-height: 150px;
}

.footer-content {
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-content-right {
    position: absolute;
    bottom: 0;
    right: 0;
}


.voteUp, 
.voteUp :hover,
.voteUp:focus,
.voteUp.focus,
.voteUp:active {
    color: green;
    background-color: transparent;
}

.voteDown, 
.voteDown :hover,
.voteDown:focus,
.voteDown:active {
    color: orangered;
    background-color: transparent;
}

.love {
        color: red;
}