@inherits ViewPage
@{
    ViewBag.Title = "Yet Another Question And Answer Platform";
}
<div>
    <div id="content">
    </div>
</div>
<script>
    
    $('#content').load("Content/_Search.html").fadeIn(400);

</script>

