@inherits ViewPage
@{
    ViewBag.Title = "Yet another question and answer platform";
}
<div ng-controller="yaqqapController">
    <div id="content" ng-include src="partialView.url" >
    </div>
</div>
